@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --defult-brand: 249.62, 56.3%, 64.7%;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --defult-brand: 249.62, 56.3%, 64.7%;
  }
} */

@layer base {
  :root {
    --forground: 240 10% 3.93;
    --defult-brand: 270, 56.3%, 64.7%;
    --defult-destructive: 41 100% 50%
  }

  .dark {
    --forground: 0 0% 75.91;

    --defult-brand: 249.62, 56.3%, 64.7%;
    --defult-destructive: 0 100% 50%
  }
}